<div id="wrapper">
  <div class="main">
    <div id="card-item"
         *ngIf="!isReversed"
    >
      <div class="card-item__bg">
        <img class="img__bg" src="../assets/card.jpeg" alt="Фоновое изображение карты">
      </div>
      <div class="card-item__top">
        <div class="card-item__chip">
          <img class="img__chip" src="../assets/chip.png" alt="Изображение чипа карты">
        </div>
        <div class="card-item__typeImg">
          <img class="img__type" src="../assets/visa.png" alt="Изображение типа карты">
        </div>
      </div>
      <label class="card-item__number">
        <span>
          <div class="card-item__numberItem"><span *ngIf="!cardNumberOnl[0]">#</span>{{ cardNumberOnl[0] }}</div>
        </span>
        <span>
          <div class="card-item__numberItem"><span *ngIf="!cardNumberOnl[1]">#</span>{{ cardNumberOnl[1] }}</div>
        </span>
        <span>
          <div class="card-item__numberItem"><span *ngIf="!cardNumberOnl[2]">#</span>{{ cardNumberOnl[2] }}</div>
        </span>
        <span>
          <div class="card-item__numberItem"><span *ngIf="!cardNumberOnl[3]">#</span>{{ cardNumberOnl[3] }}</div>
        </span>
        <span>
          <div class="card-item__empty"></div>
        </span>
        <span>
          <div class="card-item__numberItem"><span *ngIf="!cardNumberOnl[5]">#</span>{{ cardNumberOnl[5] }}</div>
        </span>
        <span>
          <div class="card-item__numberItem"><span *ngIf="!cardNumberOnl[6]">#</span>{{ cardNumberOnl[6] }}</div>
        </span>
        <span>
          <div class="card-item__numberItem"><span *ngIf="!cardNumberOnl[7]">#</span>{{ cardNumberOnl[7] }}</div>
        </span>
        <span>
          <div class="card-item__numberItem"><span *ngIf="!cardNumberOnl[8]">#</span>{{ cardNumberOnl[8] }}</div>
        </span>
        <span>
          <div class="card-item__empty"></div>
        </span>
        <span>
          <div class="card-item__numberItem"><span *ngIf="!cardNumberOnl[10]">#</span>{{ cardNumberOnl[10] }}</div>
        </span>
        <span>
          <div class="card-item__numberItem"><span *ngIf="!cardNumberOnl[11]">#</span>{{ cardNumberOnl[11] }}</div>
        </span>
        <span>
          <div class="card-item__numberItem"><span *ngIf="!cardNumberOnl[12]">#</span>{{ cardNumberOnl[12] }}</div>
        </span>
        <span>
          <div class="card-item__numberItem"><span *ngIf="!cardNumberOnl[13]">#</span>{{ cardNumberOnl[13] }}</div>
        </span>
        <span>
          <div class="card-item__empty"></div>
        </span>
        <span>
          <div class="card-item__numberItem"><span *ngIf="!cardNumberOnl[15]">#</span>{{ cardNumberOnl[15] }}</div>
        </span>
        <span>
          <div class="card-item__numberItem"><span *ngIf="!cardNumberOnl[16]">#</span>{{ cardNumberOnl[16] }}</div>
        </span>
        <span>
          <div class="card-item__numberItem"><span *ngIf="!cardNumberOnl[17]">#</span>{{ cardNumberOnl[17] }}</div>
        </span>
        <span>
          <div class="card-item__numberItem"><span *ngIf="!cardNumberOnl[18]">#</span>{{ cardNumberOnl[18] }}</div>
        </span>
      </label>
      <div class="card-item__infoMain">
        <div class="card-item__info">
          <div class="card-item__name">
            <div class="card-item__holder"><span>Card Holder</span></div>
            <div class="card-item__holderName"><span *ngIf="!cardHoldersOnl">FULL NAME</span>{{ cardHoldersOnl }}</div>
          </div>
          <div class="card-item__expires">
            <div class="card-item__exp"><span>Expires</span></div>
            <div class="card-item__monthYear">
              <span *ngIf="!cardMonthOnl">MM</span>
              <span>{{ cardMonthOnl }}</span>/
              <span *ngIf="!cardYearOnl">YY</span>
              <span>{{ cardYearOnl }}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="card-item__rev"
         *ngIf="isReversed"
    >
      <div class="card-item__revBg">
        <img class="img__bg" src="../assets/card.jpeg" alt="Фоновое изображение карты">
      </div>
      <div class="card-item__check"></div>
      <div class="card-item__place">
        <div class="card-item__value">
          <label class="card-itemLabel__cvv" for="card__cvv">CVV</label>
          <span id = "card__cvv" class="card-item__cvv">{{ cardCvvOnl }}</span>
        </div>
      </div>
      <div class="card-item__revType">
        <div class="card-item__typeImg">
          <img class="img__type" src="../assets/visa.png" alt="Изображение типа карты">
        </div>
      </div>
    </div>
    <div class="bgc">
      <div class="card-form">
        <form [formGroup]="cardForm" (ngSubmit)="submit()">
          <div class="col-md-12 mb-3"
               [ngClass]="{invalid: cardForm.get('cardNumber').touched && cardForm.get('cardNumber').invalid}"
          >
            <label class="card-label__number" for="validationTooltip01">Card Number<span>*</span></label>
            <input type="text" [OnlyNumber]="true" [(ngModel)]="cardNumberOnl" maxlength="19"
                   onkeypress="this.value = this.value.replace(/(\d{4})(?=(\d)+(\D|$))/g, '$1 ')"
                   class="form-control" id="validationTooltip01" formControlName="cardNumber"
            >
              <div *ngIf="cardForm.get('cardNumber').touched && cardForm.get('cardNumber').invalid">
                <small class="card-form__valid" *ngIf="cardForm.get('cardNumber').errors.required">
                  Введите номер карты
                </small>
                <small class="card-form__valid" *ngIf="cardForm.get('cardNumber').errors.minlength">
                  Введите {{ cardForm.get('cardNumber').errors.minlength.requiredLength - 3 }} значный номер карты
                </small>
              </div>
          </div>
          <div class="col-md-12 mb-3"
               [ngClass]="{invalid: cardForm.get('cardHolders').touched && cardForm.get('cardHolders').invalid}"
          >
            <label class="card-label__holder" for="validationTooltip02">Card Holders<span>*</span></label>
            <input type="text" [OnlyString]="true" [(ngModel)]="cardHoldersOnl" class="form-control" id="validationTooltip02" formControlName="cardHolders">
              <div *ngIf="cardForm.get('cardHolders').touched && cardForm.get('cardHolders').invalid">
                <small class="card-form__valid" *ngIf="cardForm.get('cardHolders').errors.required">
                  Введите владельца карты
                </small>
              </div>
          </div>
          <div class="form-row">
            <div class="form-exp__date">
              <div class="col-md-3 mb-3"
                   [ngClass]="{invalid: cardForm.get('cardMonth').touched && cardForm.get('cardMonth').invalid}"
              >
                <label class="card-label__month" for="validationTooltip03">Month<span>*</span></label>
                <select class="custom-select" [(ngModel)]="cardMonthOnl" id="validationTooltip03" formControlName="cardMonth">
                  <option></option>
                  <option>01</option>
                  <option>02</option>
                  <option>03</option>
                  <option>04</option>
                  <option>05</option>
                  <option>06</option>
                  <option>07</option>
                  <option>08</option>
                  <option>09</option>
                  <option>10</option>
                  <option>11</option>
                  <option>12</option>
                </select>
              </div>

              <div class="col-md-3 mb-3"
                   [ngClass]="{invalid: cardForm.get('cardYear').touched && cardForm.get('cardYear').invalid}"
              >
                <label class="card-label__year" for="validationTooltip04">Year<span>*</span></label>
                <select class="custom-select" [(ngModel)]="cardYearOnl" id="validationTooltip04" formControlName="cardYear">
                  <option></option>
                  <option value="18">2018</option>
                  <option value="19">2019</option>
                  <option value="20">2020</option>
                  <option value="21">2021</option>
                  <option value="22">2022</option>
                  <option value="23">2023</option>
                  <option value="24">2024</option>
                  <option value="25">2025</option>
                  <option value="26">2026</option>
                  <option value="27">2027</option>
                  <option value="28">2028</option>
                  <option value="29">2029</option>
                  <option value="30">2030</option>
                </select>
              </div>
            </div>

            <div class="col-md-3 mb-3"
                 [ngClass]="{invalid: cardForm.get('cardCvv').touched && cardForm.get('cardCvv').invalid}"
            >
              <label class="card-label__cvv" for="validationTooltip05">CVV<span>*</span></label>
              <input type="text" [OnlyNumber]="true" [(ngModel)]="cardCvvOnl"
                     maxlength="3" class="form-control" id="validationTooltip05"
                     formControlName="cardCvv"
                     (click)="onReverse()"
                     (blur)="onReverseBack()"
              >
              <div *ngIf="cardForm.get('cardCvv').touched && cardForm.get('cardCvv').invalid">
                <small class="card-form__valid" *ngIf="cardForm.get('cardCvv').errors.required">
                  Введите CVV
                </small>
                <small class="card-form__valid" *ngIf="cardForm.get('cardCvv').errors.minlength">
                  Введите корректный CVV
                </small>
              </div>
            </div>
          </div>
          <button class="btn btn-primary"
                  type="submit"
                  [disabled]="cardForm.invalid"
          >Submit</button>
        </form>
      </div>
    </div>
  </div>
</div>
