@import url("https://fonts.googleapis.com/css?family=Source+Code+Pro:400,500,600,700|Source+Sans+Pro:400,600,700&display=swap");

#wrapper {
  background-color: #ddeefc;
  min-height: 100vh;
  padding: 50px 15px;
  width: 100%;

      & .main {
        overflow: hidden;

        & #card-item {
          display: flex;
          justify-content: center;
          z-index: 99;

          & .card-item__bg {
            display: block;
            position: relative;
            max-width: 430px;
            //background-image: url("https://raw.githubusercontent.com/muhammederdem/credit-card-form/master/src/assets/images/4.jpeg");


            & .img__bg {
              max-width: 430px;
              border-radius: 20px;
              filter: brightness(0.7);
            }
          }

          & .card-item__top {
            display: flex;
            position: absolute;
            margin-top: 20px;


            & .card-item__chip {
              margin-right: 250px;

              & .img__chip {
                height: 45px;
              }
            }

            & .card-item__typeImg {

              & .img__type {
                height: 45px;
              }
            }
          }

          & .card-item__number {
            display: flex;
            margin-top: 113px;
            position: absolute;
            color: #ffffff;
            font-size: 25px;

            & .card-item__numberItem {
              margin-left: 3px;
            }

            & .card-item__empty {
              width: 30px;
            }
          }

          & .card-item__infoMain {
            position: absolute;
            top: 260px;

            & .card-item__info {
              display: flex;
              flex-direction: row;
              justify-content: space-between;
              width: 370px;
              font-size: 16px;

              & .card-item__name {


                & .card-item__holder {
                  color: #fff;
                  opacity: 0.6;
                }

                & .card-item__holderName {
                  color: #fff;
                  text-transform: uppercase;
                }
              }

              & .card-item__expires {


                & .card-item__exp {
                  color: #fff;
                  opacity: 0.6;

                }

                & .card-item__monthYear {
                  color: #fff;
                  text-transform: uppercase;
                }
              }
            }
          }
        }

        & #card-item__rev {
          display: flex;
          justify-content: center;
          z-index: 98;

          & .card-item__revBg {
            display: block;
            position: relative;
            max-width: 430px;

            & .img__bg {
              max-width: 430px;
              border-radius: 20px;
              filter: brightness(0.7);
            }
          }

          & .card-item__check {
            height: 55px;
            width: 430px;
            background-color: black;
            position: absolute;
            margin-top: 30px;
          }

          & .card-item__place {
            position: absolute;
            background-color: white;
            height: 50px;
            width: 390px;
            border-radius: 5px;
            margin-top: 120px;

            & .card-item__value {
              display: flex;
              flex-direction: column;
              position: absolute;
              margin-top: -22px;
              left: 355px;

              & .card-itemLabel__cvv {
                color: white;
              }

              & .card-item__cvv {
                color: black;
              }
            }
          }

          & .card-item__revType {
            display: flex;
            position: absolute;
            justify-content: flex-end;
            width: 390px;
            margin-top: 210px;

            & .card-item__typeImg {

              & .img__type {
                height: 45px;
              }
            }
          }
        }

        & .bgc {
          background-color: white;
          max-width: 570px;
          margin: -144px auto 0 auto;
          padding-top: 175px;
          border-radius: 10px;
        }

        & .card-form {
          display: block;
          max-width: 500px;
          margin: 0 auto;
          overflow: hidden;
          padding: 5px;


          & .col-md-12 {
            padding: 0;
            margin: 0;
            width: 100%;

              & .card-label__number {
                & span {
                  color: red;
                }
              }

              &.invalid {
                & .form-control {
                  border-color: red;
                }
              }

              & .card-label__holder {
                & span {
                  color: red;
                }
              }

              & .card-form__valid {
                color: red;
              }
          }

          & #validationTooltip01 {
            max-width: 500px;
          }

          & #validationTooltip02 {
            text-transform: uppercase;
          }

          & .form-row {
            justify-content: space-between;
            display: flex;
            flex-direction: row;
            width: 100%;
            margin: 0;

            & .form-exp__date {
              display: flex;
              flex-direction: row;
              justify-content: space-between;
              width: 70%;

              & .col-md-3 {
                padding: 0;
                flex: 0 0 100%;
                max-width: 50%;

                & .card-label__month {
                  & span {
                    color: red;
                  }
                }

                & .card-label__year {
                  & span {
                    color: red;
                  }
                }

                &.invalid {
                  & .custom-select {
                    border-color: red;
                  }
                }

                &:first-child {
                  margin-right: 3%;
                }
              }
            }

            & .col-md-3 {
              padding: 0;
              margin-left: 0;

              & .card-label__cvv {
                & span {
                  color: red;
                }
              }

              &.invalid {
                & .form-control {
                  border-color: red;
                }
              }

              & .card-form__valid {
                color: red;
              }
            }
          }
        }

        & .btn {
          margin: 20px 0 30px 0;
          width: 100%;
        }
      }
}

@media screen and (max-width: 768px) {
  #wrapper {

    & .main {

      & .card-form {


        & .form-row {


          & .form-exp__date {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            width: 100%;

            & .col-md-3 {
              padding: 0;
              flex: 0 0 100%;
              max-width: 47%;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 480px) {
  #wrapper {
    padding: 20px 10px;

    & .main {

      & #card-item {

        & .card-item__bg {
          max-width: 370px;
          max-height: 232px;

          & .img__bg {
            max-width: 370px;
            max-height: 232px;
            border-radius: 15px;
          }
        }


      & .card-item__top {

        & .card-item__chip {
          margin-right: 220px !important;

          & .img__chip {
            max-height: 30px;
          }
        }

        & .card-item__typeImg {


          & .img__type {
            max-height: 30px;
          }
        }
      }

      & .card-item__number {
        top: 5px;

        & .card-item__numberItem {
          font-size: 20px;
        }

        & .card-item__empty {
          width: 25px;
        }
      }

      & .card-item__infoMain {
        top: 190px!important;

        & .card-item__info {
          width: 300px !important;
          font-size: 14px;
        }
      }
      }

      & #card-item__rev {

        & .card-item__revBg {
          max-width: 360px;

          & .img__bg {
            max-width: 360px;
            border-radius: 15px;
          }
        }

        & .card-item__check {
          height: 35px;
          width: 360px;
          margin-top: 25px;
        }

        & .card-item__place {
          height: 40px;
          width: 320px;
          margin-top: 100px;

          & .card-item__value {
            margin-top: -25px;
            left: 285px;
          }
        }

        & .card-item__revType {
          width: 330px;
          margin-top: 190px;

          & .card-item__typeImg {

            & .img__type {
              height: 30px;
            }
          }
        }
      }

      & .bgc {
        margin: -120px auto 0 auto !important;
        padding-top: 150px !important;
      }
    }
  }
}

@media screen and (max-width: 410px) {
  #wrapper {

    & .main {

      & #card-item {

        & .card-item__bg {
          max-width: 300px;

          & .img__bg {
            max-width: 300px;
          }
        }

        & .card-item__top {

          & .card-item__chip {
            margin: 0 170px 0 5px !important;

            & .img__chip {
              max-height: 25px;
            }
          }

          & .card-item__typeImg {


            & .img__type {
              max-height: 25px;
            }
          }
        }

        & .card-item__number {
          top: -15px !important;

          & .card-item__numberItem {
            font-size: 18px;
          }

          & .card-item__empty {
            width: 14px;
          }
        }

        & .card-item__infoMain {
          top: 160px !important;

          & .card-item__info {
            width: 260px !important;
            font-size: 12px;
          }
        }
      }

      & #card-item__rev {

        & .card-item__revBg {
          max-width: 300px;

          & .img__bg {
            max-width: 300px;
          }
        }

        & .card-item__check {
          height: 30px;
          width: 300px;
          margin-top: 20px;
        }

        & .card-item__place {
          height: 35px;
          width: 260px;
          margin-top: 80px;

          & .card-item__value {
            margin-top: -28px;
            left: 230px;

            & .card-item__cvv {
              font-size: 14px;
              margin-left: 2px;
            }
          }
        }

        & .card-item__revType {
          width: 270px;
          margin-top: 145px;

          & .card-item__typeImg {

            & .img__type {
              height: 25px;
            }
          }
        }
      }

      & .bgc {
        margin: -95px auto 0 auto !important;
        padding-top: 120px !important;
      }
    }
  }
}

@media screen and (max-width: 340px) {
  #wrapper {

    & .main {

      & #card-item {

        & .card-item__bg {
          max-width: 250px;

          & .img__bg {
            max-width: 250px;
            border-radius: 10px;
          }
        }

        & .card-item__top {
          top: 12px;

          & .card-item__chip {
            margin: 0 145px 0 3px !important;

            & .img__chip {
              max-height: 22px;
            }
          }

          & .card-item__typeImg {

            & .img__type {
              max-height: 22px;
            }
          }
        }

        & .card-item__number {
          top: -30px !important;

          & .card-item__numberItem {
            font-size: 16px;
          }

          & .card-item__empty {
            width: 15px !important;
          }
        }

        & .card-item__infoMain {
          top: 135px !important;

          & .card-item__info {
            font-size: 11px;
            width: 220px !important;
          }
        }
      }

      & #card-item__rev {

        & .card-item__revBg {
          max-width: 250px;

          & .img__bg {
            max-width: 250px;
            border-radius: 10px;
          }
        }

        & .card-item__check {
          height: 25px;
          width: 250px;
          margin-top: 20px;
        }

        & .card-item__place {
          height: 30px;
          width: 210px;
          margin-top: 60px;

          & .card-item__value {
            margin-top: -18px;
            left: 180px;
            font-size: 14px;

            & .card-item__cvv {
              font-size: 12px;
              margin-top: -5px;
            }
          }
        }

        & .card-item__revType {
          width: 220px;
          margin-top: 120px;

          & .card-item__typeImg {

            & .img__type {
              height: 22px;
            }
          }
        }
      }

      & .bgc {
        margin: -80px auto 0 auto !important;
        padding-top: 90px !important;
        font-size: 14px;
      }
    }
  }
}
